{% extends "suit_dashboard/base.html" %}
{% load i18n admin_static %}
{% load staticfiles i18n compress %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
    Onhand
{% endblock %}

{% block dashboard_css %}
    {#  <link href="{% static 'dashboard/your_main.css' %}" rel="stylesheet" media="all">#}
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/onhanddashboard.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/naic722/dashboard/schedulepopup.css' %}" media="all">
    {#    <link href="{% static 'bootstrap4/css/bootstrap.css' %}" rel="stylesheet" media="all">#}
    {#    <link href="{% static 'bootstrap4/css/bootstrap-flex.css' %}" rel="stylesheet" media="all">#}
    {#    <link href="{% static 'bootstrap4/css/bootstrap-grid.css' %}" rel="stylesheet" media="all">#}
    {#    <link href="{% static 'bootstrap4/css/bootstrap-reboot.css' %}" rel="stylesheet" media="all">#}
    {#    <link href="{% static '/' %}" rel="stylesheet" media="all">#}
{% endblock %}
<!-- Content -->

{% block content %}

    <form method="post">

        <div id="content" class="colM row-fluid">
            <div class="row dashboard-row8">
                <div class="dashboard-col-1">
                    <div class="dboxallitems" id="dboxallitems">
                        <input type="checkbox" name="countGroup" value="dboxallitems" id="checkboxdboxallitems"/>
                        <h3 class="box-title">{{ subscription_count_all }}</h3>
                        <p class="box-description" id="">
                            <strong> All Items</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    <div class="dboxservices">
                        <h3 class="box-title">{{ service_count_total }}</h3>
                        <p class="box-description">
                            <strong> Services</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    <div class="dboxinsurance">
                        <h3 class="box-title">0</h3>
                        <p class="box-description">
                            <strong> Insurance</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    <div class="dboxfiling">
                        <h3 class="box-title">0</h3>
                        <p class="box-description">
                            <strong> Filings &amp; Permits</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    <div class="dboxviolation">
                        <h3 class="box-title">0</h3>
                        <p class="box-description">
                            <strong> Violations &amp; Suits</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    {#            <div class="dboxcurrent">#}
                    <div class="dboxcurrentdue " id="dboxcurrentdue">
                        <input type="checkbox" name="countGroup" value="dboxcurrentdue" id="checkboxdboxcurrentdue"/>
                        <h3 class="box-title">{{ subscription_count_current }}</h3>
                        <p class="box-description">
                            <strong> Current</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    <div class="dboxcomingdue " id="dboxcomingdue">
                        <input type="checkbox" name="countGroup" value="dboxcomingdue" id="checkboxdboxcomingdue"/>
                        <h3 class="box-title">{{ subscription_count_coming_due }}</h3>
                        <p class="box-description">
                            <strong> Coming Due</strong>
                        </p>
                    </div>
                </div>
                <div class="dashboard-col-1">
                    <div class="dboxpastdue " id="dboxpastdue">
                        <input type="checkbox" name="countGroup" value="dboxpastdue" id="checkboxdboxpastdue"/>
                        <h3 class="box-title">{{ subscription_count_past_due }}</h3>
                        <p class="box-description">
                            <strong> Past Due</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row dashboard-row1">
                <div class="dashboard-col-1">
                </div>
            </div>
            <div class="row dashboard-row2">
                <div class="dashboard-col-1">
                    <div class="row dashboard-row2">
                        <div class="dashboard-col-title">
                            <div class="dboxfiltertitle">
                                <h3 class="box-title">Showing :</h3>
                            </div>
                        </div>
                        <div class="dashboard-col-2">
                            <div class="dboxshowfilters">
                                <h3 class="box-title" id="filterselected">All Items</h3>
                            </div>
                        </div>
                        <div class="dashboard-col-3">
                            <div class="dboxfiltertitle">
                                <input id="checkbox_completeditems" name="checkbox_completeditems" type="checkbox">

                            </div>
                        </div>
                        <div class="dashboard-col-4">
                            <div class="dboxshowfilters">
                                <h3 class="box-title">Completed Items</h3>
                            </div>
                        </div>
                        <div class="dashboard-col-5">
                            <div class="dboxfiltertitle">

                            </div>
                        </div>
                        <div class="dashboard-col-6">
                            <div class="dboxshowfilters">
                            </div>
                        </div>
                        <div class="dashboard-col-7">
                            <div class="dboxshowfilters">

                            </div>
                        </div>
                        <div class="dashboard-col-8">
                            <div class="dboxshowfilters">
                            </div>
                        </div>
                        <div class="dashboard-col-9">
                            <div class="dboxshowfilters">
                                <h3 class="box-title"></h3>
                            </div>
                        </div>
                        <div class="dashboard-col-10">
                            <div class="dboxshowfilters">
                                <h3 class="box-title"></h3>
                            </div>
                        </div>
                        <div class="dashboard-col-11">
                            <div class="dboxshowfilters">
                                <h3 class="box-title"><i class="fa fa-print fa-2x" style="color: green"
                                                         aria-hidden="true"></i></h3>
                            </div>
                        </div>
                        <div class="dashboard-col-12">
                            <div class="dboxshowfilters">
                                <h3 class="box-title"><i class="fa fa-file-excel-o fa-2x" style="color: green"
                                                         aria-hidden="true"></i></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% include 'dashboard/dashboard_table_body.html' %}

    </form>

    <div id="dialogohsrvrecordspop">
        <iframe id="ohsrvrecordsIframe" src="" width="" height="" style="border: none"></iframe>
    </div>

    <div id="dialogschedulepop">
        {# <iframe id="scheduleIframe" src=""></iframe>#}
        <iframe id="scheduleIframe" src="" width="" height="" style="border: none"></iframe>
        {#    <iframe id="newvendorIframe"  src="" width="" height = "" ></iframe>#}
    </div>

     <div id="dialogrecactionpop">
        {# <iframe id="scheduleIframe" src=""></iframe>#}
        <iframe id="actionIframe" src="" width="" height="" style="border: none"></iframe>
        {#    <iframe id="newvendorIframe"  src="" width="" height = "" ></iframe>#}
    </div>

    <div id="dialogcoordinatepop">
        <iframe id="coordinateIframe" src="" width="" height="" style="border: none"></iframe>
    </div>

{% endblock %}




<div id="content" class="{% block coltype %}colM{% endblock %} row-fluid" style="height: 100vh">


    <!-- END Content -->

    {% block extrajs %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.1.1.min.js"></script>

        {% compress js %}
            {#        <script src="{% static 'js/project.js' %}"></script>#}
            {#        <script src="{% static 'js/naic722/compliance/complainceadd.js' %}"></script>#}
            <script src="{% static 'js/jquery-ui1.12.1.js' %}"></script>
        {% endcompress %}

        <script type="text/javascript" language="javascript">

            {#            $(function() {#}
            {#                $('.js-popup-link').click(function (e) {#}
            {#                    e.preventDefault();#}
            {#                    $('#popup').dialog({modal: true}).dialog('open').load(this.href)#}
            {#                })#}
            {#            }#}
            {#function openDialog(){#}
            {#    alert('Ive beencalled to open dialog');#}
            {#    $('#dialogschedule').dialog('open');#}
            {#    $('.js-popup-link').click(function(e){#}
            {#    e.preventDefault();#}
            {#    $('#dialogschedulepop').dialog({modal: true}).dialog('open').load(this.href)#}
            {#  })#}

            {#            $.ui.dialog.prototype._focusTabbable = $.noop;#}

            {#        $(document).ready(function () {#}
            {#        $("#dialogschedulepop").dialog({#}
            {#                  modal : true,#}
            {#                  minHeight: 568,#}
            {#                  minWidth: 634,#}
            {#                  resizable: false,#}
            {#                  draggable: false,#}
            {#                  autoOpen: false,#}
            {#                  dialogClass: "no-close",#}
            {#                  buttons: {#}
            {#                      "Save Schedule": function () {#}
            {#                          $.ajax({#}
            {#                 #ajax call for delete#}
            {#                 #with url pointing to your delete function#}
            {#                          });#}
            {#                          $(this).dialog("close");#}
            {#                      },#}
            {#                      "Cancel": function () {#}
            {#                        $(this).dialog("close");#}
            {#                          $(this).dialog("close");#}
            {#                      }#}
            {#                  }#}
            {#              });#}
            {##}
            {##}
            {##}
            {#        });#}


            function viewservicedetailspopup(url) {
                $.ajax({
                    {#                    url: url,#}
                    success: function (data) {
                        {#                        console.log('url', url);#}
                        $("#ohsrvrecordsIframe").attr("src", url);
                        $("#ohsrvrecordsIframe").attr("width", 1150);
                        $("#ohsrvrecordsIframe").attr("height", 600);
                        $("#ohsrvrecordsIframe").attr("style", "border:None;font-size: 14px;font-family:\"Helvetica Neue\",Helvetica,Arial,sans-ser");
                        $("#dialogohsrvrecordspop").dialog("open");
                    }
                });
                return false;
            }

            $(function () {
                $("#dialogohsrvrecordspop").dialog({
                    modal: true,
                    minHeight: 601,
                    minWidth: 1167,
                    resizable: false,
                    draggable: false,
                    autoOpen: false,
                    dialogClass: "no-close",
                });
            });


            function schedulepopup(url) {
                $.ajax({
                    url: url,
                    success: function (data) {
                        console.log('url', url);
                        $("#scheduleIframe").attr("src", url);
                        $("#scheduleIframe").attr("width", 700);
                        $("#scheduleIframe").attr("height", 530);
                        $("#scheduleIframe").attr("style", "border:None;");
                        $("#dialogschedulepop").dialog("open");
                    }
                });
                return false;
            }


            $(function () {
                $("#dialogschedulepop").dialog({
                    modal: true,
                    minHeight: 530,
                    minWidth: 700,
                    resizable: false,
                    draggable: false,
                    autoOpen: false,
                    dialogClass: "no-close",
                });
            });

            function recordactionpopup(url) {
                $.ajax({
                    url: url,
                    success: function (data) {
                        console.log('url', url);
                        $("#actionIframe").attr("src", url);
                        $("#actionIframe").attr("width", 700);
                        $("#actionIframe").attr("height", 530);
                        $("#actionIframe").attr("style", "border:None;");
                        $("#dialogrecactionpop").dialog("open");
                    }
                });
                return false;
            }


            $(function () {
                $("#dialogrecactionpop").dialog({
                    modal: true,
                    minHeight: 530,
                    minWidth: 700,
                    resizable: false,
                    draggable: false,
                    autoOpen: false,
                    dialogClass: "no-close",
                });
            });


            function coordinatepopup(url) {
                $.ajax({
                    url: url,
                    success: function (data) {
                        console.log('url', url);
                        $("#coordinateIframe").attr("src", url);
                        $("#coordinateIframe").attr("width", 700);
                        $("#coordinateIframe").attr("height", 345);
                        $("#coordinateIframe").attr("style", "border:None;");
                        $("#dialogcoordinatepop").dialog("open");
                    }
                });
                return false;
            }

            $(function () {
                $("#dialogcoordinatepop").dialog({
                    modal: true,
                    minHeight: 350,
                    minWidth: 700,
                    resizable: false,
                    draggable: false,
                    autoOpen: false,
                    dialogClass: "no-close",

                });
            });
        </script>
    {% endblock %}
</div>

