{% load i18n admin_static %}
{% load staticfiles i18n compress %}
{% load humanize %}

{% block extrastyle %}
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/naic722/dashboard/schedulepopup.css' %}" media="all">
{% endblock %}

<form id="scheduleserviceform">

    <div id="scddiv">
        <i id="oh_scd_serv113" class="fa fa-clock-o fa-3x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
           style="color: #073763"></i>
        <span id="oh_scd_serv24" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">Schedule {{ rectype }}</span>
        <div id="oh_scd_serv1" class="oh_scd_servkeeComponent oh_scd_servkeeHrule"></div>

        <span id="oh_scd_serv40" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">Service</span>
        <span id="oh_scd_serv41" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">RPZ Test</span>

        <span id="oh_scd_serv42" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">Due date</span>
        <input id="oh_scd_serv43" type="text" value="{{ csrv_due_date }}" readonly
               class="oh_scd_servkeeComponent oh_scd_servkeeTextinput"/>

        <span id="oh_scd_serv45" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">Last Amount paid:</span>
        <span id="oh_scd_serv46" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">{% if csac_price_last != 'None' %}
            $&nbsp;
            {{ csac_price_last }} {% else %} - {% endif %}</span>
        {% if csac_service_date_last %}
            {% if off_from_avg <= 0 %}
                <i id="oh_scd_serv47"
                   class="fa fa-thumbs-o-up fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
                   style="color: #72a525"></i>
            {% else %}
                <i id="oh_scd_serv47"
                   class="fa fa-thumbs-o-down fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
                   style="color: red"></i>
            {% endif %}
        {% endif %}


        <span id="oh_scd_serv16" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">Scheduled</span>
        <input id="oh_scd_serv32" type="text" value="" class="oh_scd_servkeeComponent oh_scd_servkeeTextinput"/>
        <i id="oh_scd_serv39" class="fa fa-calendar fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
           style="color: #080041"></i>


        {#<button id="oh_scd_serv50" type="button" class="oh_scd_servkeeComponent oh_scd_servkeeButton btn">ADD</button>#}
        {##}
        {#<button id="oh_scd_serv51" type="button" class="oh_scd_servkeeComponent oh_scd_servkeeButton btn">UPDATE</button>#}
        {##}
        {#<button id="oh_scd_serv53" type="button" class="oh_scd_servkeeComponent oh_scd_servkeeButton btn">Delete</button>#}

        <div id="oh_scd_serv86" class="oh_scd_servkeeComponent oh_scd_servkeeParagraph" cellspacing="0" cellpadding="0">
            Service
            provider :<br/></div>
        <select id="oh_scd_serv87" class="oh_scd_servkeeComponent oh_scd_servkeeCombobox">
            <option>Vendor</option>
        </select>
        <i id="oh_scd_serv94" class="fa fa-plus-square-o fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
           style="color: #f72006"></i>


        <div id="oh_scd_serv90" class="oh_scd_servkeeComponent oh_scd_servkeeParagraph" cellspacing="0" cellpadding="0">
            Contact
            / Department:<br/></div>

        <select id="oh_scd_serv91" class="oh_scd_servkeeComponent oh_scd_servkeeCombobox">
            <option>Vendor Contact Person</option>
        </select>
        <a href=""
           onclick="return  schedulepopupnewvendor('/app/newvendor/?type={{ rectype }}&service={{ record.csrv_id }}&scdtyp=newvendor')"
           class="dismiss" onclick='javascript:openDialog()' title="Add new Service Provider">
            <i id="oh_scd_serv97" class="fa fa-plus-square-o fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
               style="color: #f72006" onclick="schedulepopupaction()"></i>
        </a>

        <input id="oh_scd_serv88" type="text" value="Phone number"
               class="oh_scd_servkeeComponent oh_scd_servkeeTextinput"/>
        <div id="oh_scd_serv89" class="oh_scd_servkeeComponent oh_scd_servkeeParagraph" cellspacing="0" cellpadding="0">
            Phone
            no:<br/></div>
        <i id="oh_scd_serv95" class="fa fa-phone fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
           style="color: #080041"></i>


        <div id="oh_scd_serv93" class="oh_scd_servkeeComponent oh_scd_servkeeParagraph" cellspacing="0" cellpadding="0">
            Email
            :<br/></div>
        <input id="oh_scd_serv92" type="text" value="email address"
               class="oh_scd_servkeeComponent oh_scd_servkeeTextinput"/>
        <i id="oh_scd_serv96" class="fa fa-envelope-o fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360"
           style="color: #080041"></i>

        <span id="oh_scd_serv33" class="oh_scd_servkeeComponent oh_scd_servkeeLabel ">Notes</span>
        <div id="oh_scd_serv114" class="oh_scd_servkeeRelativeComponent">
         <textarea id="texta" rows="4" cols="50" style="word-wrap: break-word">
Check with Tommy if he has fixed the missing screw!
</textarea>
        </div>

        <div id="oh_scd_serv101" class="oh_scd_servkeeComponent oh_scd_servkeeParagraph" cellspacing="0"
             cellpadding="0">
            Customer Experience<br/></div>
        <div id="oh_scd_serv106" class="oh_scd_servkeeComponent oh_scd_servkeeCanvas">
            <div id="oh_scd_serv107" class="oh_scd_servkeeRelativeComponent oh_scd_servkeeParagraph" cellspacing="0"
                 cellpadding="0">Arrives on time<br/></div>

            <div id="oh_scd_serv108" class="oh_scd_servkeeRelativeComponent oh_scd_servkeeParagraph" cellspacing="0"
                 cellpadding="0">Completes on time<br/></div>

            <div id="oh_scd_serv109" class="oh_scd_servkeeRelativeComponent oh_scd_servkeeParagraph" cellspacing="0"
                 cellpadding="0">Satisfied with Job<br/></div>

            <div id="oh_scd_serv110" class="oh_scd_servkeeRelativeComponent oh_scd_servkeeParagraph" cellspacing="0"
                 cellpadding="0">75%<br/></div>

            <div id="oh_scd_serv111" class="oh_scd_servkeeRelativeComponent oh_scd_servkeeParagraph" cellspacing="0"
                 cellpadding="0">25%<br/></div>

            <div id="oh_scd_serv112" class="oh_scd_servkeeRelativeComponent oh_scd_servkeeParagraph" cellspacing="0"
                 cellpadding="0">75%<br/></div>
        </div>
        <div style="margin-top:490px;text-align: right;">
            <button type="button" id="createschedule" class="ui-button ui-corner-all ui-widget"
                    style="font-size: 14px; margin-left: 4px;">Create Schedule
            </button>
            <button type="button" id="cancel" class="ui-button ui-corner-all ui-widget"
                    style="font-size: 14px; margin-left: 4px;">Cancel
            </button>
        </div>
    </div>
    <div id="dialogschedulepopnewvendor">
        <iframe id="newvendorIframe" src="" width="" height="" style="border: none"></iframe>
    </div>

</form>
{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.1.1.min.js"></script>

    {% compress js %}
        {#        <script src="{% static 'js/project.js' %}"></script>#}
        {#        <script src="{% static 'js/naic722/compliance/complainceadd.js' %}"></script>#}
        <script src="{% static 'js/jquery-ui1.12.1.js' %}"></script>
    {% endcompress %}

    <script type="text/javascript" language="javascript">


        {#$(function(){#}
        {#  $('.js-popup-link').click(function(e){#}
        {#    e.preventDefault();#}
        {#    $('#popup').dialog({modal: true}).dialog('open').load(this.href)#}
        {#  })#}

        {#function openDialog(){#}
        {#    alert('Ive beencalled to open dialog');#}
        {#    $('#dialogschedule').dialog('open');#}
        {#    $('.js-popup-link').click(function(e){#}
        {#    e.preventDefault();#}
        {#    $('#dialogschedulepop').dialog({modal: true}).dialog('open').load(this.href)#}
        {#  })#}

        $(document).ready(function () {


            $("#dialogschedulepopnewvendor").dialog({
                modal: true,
                minHeight: 530,
                minWidth: 634,
                resizable: false,
                draggable: false,
                autoOpen: false,
                dialogClass: "no-close",
                position: {
                    my: 'center',
                    at: 'center'
                },
                {#                  buttons: {#}
                {#                      "Create Vendor": function () {#}
                {#                          console.log('AJAX- Create Vendor');#}
                {#                          var form_valid = true;#}
                {#                          console.log(document.getElementById('vendorname'));#}
                {#                          if(document.getElementById('vendorname').value!= ''){#}
                {#                              form_valid =false;#}
                {#                              $('#vendorname').addClass("oh_scd_servkeeComponent oh_scd_servkeeTextinput vendorname  has-danger");#}
                {#                          }else{#}
                {#                              $('#vendorname').removeClass("has-danger");#}
                {#                          }#}
                {##}
                {#                          if(form_valid == true){#}
                {#                              $.ajax({#}
                {#                 #ajax call for delete#}
                {#                 #with url pointing to your delete function#}
                {#                              });#}
                {#                              $(this).dialog("close");#}
                {#                              $('#scddiv').show();#}
                {#                              $('.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').css('display', 'none');#}
                {#                          }#}
                {##}
                {#                      },#}
                {#                      "Cancel": function () {#}
                {#                        $(this).dialog("close");#}
                {#                          $(this).dialog("close");#}
                {#                          $('#scddiv').show();#}
                {#                          $('.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').css('display', 'none');#}
                {##}
                {#                      }#}
                {#                  }#}
            });
        });

        {#            $(document).ready(function(){#}
        {#                $('.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix').hide();#}
        {#            });#}

        function schedulepopupaction() {
            {#                alert('11');#}
            {#             $('.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix').prev().css('display', 'none');#}
            {#             $('.ui-dialog-buttonset #okbtnid').css('font-size', '24px');#}
        }
        function schedulepopupnewvendor(url) {
            {#                alert('Ive beencalled to open dialog2');#}
            {#                $('.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix').hide();#}
            {#                $('#div').find('.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix').hide();#}
            $('#scddiv').hide();
            {#                $('.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').css('display', 'none');#}
            {#                $('#dialogschedulepopnewvendor').height(360);#}
            {#                    .css({'style':'min-height: 360px'});#}
            {#.css("", "360px");#}
            {#                $("#newvendorIframe").css({'style':'min-height: 360px'});#}
            {#                .css("height", "360px");#}

            $('.ui-button.ui-corner-all.ui-widget').css('font-size', '14px');
            $('.ui-button.ui-corner-all.ui-widget').css('margin-left', '4px');
            {#                $('.ui-button.ui-corner-all.ui-widget').css('', '4px');#}
            $.ajax({
                url: url,
                success: function (data) {

                    console.log('url', url);
                    $("#scheduleIframe").attr("visibility", "hidden");
                    $("#dialogschedulepop").dialog("close");
                    $("#newvendorIframe").attr("src", url);
                    $("#newvendorIframe").attr("width", 615);
                    $("#newvendorIframe").attr("height", 530);
                    $("#newvendorIframe").attr("style", "border:None;");
                    $("#dialogschedulepopnewvendor").dialog("open");
                }
            });
            return false;
        }


        {#            function schedulepopupnewvendor(url) {#}
        {#                $.ajax({#}
        {#                    url: url,#}
        {#                    success: function (data) {#}
        {#                        console.log('url', url)#}
        {#                        $("#dialogschedulepopnewvendor").load(url).dialog({modal: true}).dialog('open');#}
        {#                    }#}
        {#                })#}
        {#                return false;#}
        {#            }#}

        {#             dialogvendor = $("#dialogschedulepopnewvendor").dialog({#}
        {#                  modal : true,#}
        {#                  minHeight: 568,#}
        {#                  minWidth: 631,#}
        {#                  resizable: false,#}
        {#                  draggable: false,#}
        {#                  autoOpen: false,#}
        {#                  dialogClass: "no-close",#}
        {#                open: function(ev, ui){#}
        {#                      $('#scheduleIframe').src = 'http://www.w3schools.com';#}
        {#                     $('#scheduleIframe').attr('src','http://www.jQuery.com');#}
        {#                  },#}
        {#                  buttons: {#}
        {#                      "Create Vendor1": function () {#}
        {#                          console.log('Called Create Vendor');#}
        {#                          $.ajax({#}
        {##}
        {#                 #ajax call for delete#}
        {#                 #with url pointing to your delete function#}
        {#                          });#}
        {#                          $(this).dialog("close");#}
        {#                      },#}
        {#                      Cancel: function () {#}
        {#                        $(this).dialog("close");#}
        {#                          dialog.dialog( "close" );#}
        {#                           $('#scddiv').show();#}
        {#                          $('.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').css('display', 'none');#}
        {#                      }#}
        {#                  },#}
        {#                close: function() {#}
        {#                    form[ 0 ].reset();#}
        {#                    allFields.removeClass( "ui-state-error" );#}
        {#                    $('#scddiv').show();#}
        {#                    $('.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').css('display', 'none');#}
        {##}
        {#                  }#}
        {#              });#}

        {#            $("#dialogschedulepopnewvendor").dialog({#}
        {#                minHeight: 568,#}
        {#                minWidth: 631,#}
        {#                resizable: false,#}
        {#                draggable: false,#}
        {#                autoOpen: false,#}
        {#                buttons: {#}
        {#                    "Create Vendor": function () {#}
        {#                        $.ajax({#}
        {#                 #ajax call for delete#}
        {#                 #with url pointing to your delete function#}
        {#                        });#}
        {#                        $(this).dialog("close");#}
        {#                    },#}
        {#                    "Cancel": function () {#}
        {#                        $(this).dialog("close");#}
        {#                    }#}
        {#                }#}
        {#            });#}

        $('#createschedule').click(function () {
            {#        alert('1');#}
            $("#dialogschedulepop").dialog("close");
            window.close();
        });

        $('#cancel').click(function () {
            if (window.parent.$("#dialogschedulepop").dialog("isOpen") == true) {
                window.parent.$("#dialogschedulepop").dialog("close");
            }
            {#         window.parent.$("#dialogschedulepop").dialog('close');#}
        });
    </script>
{% endblock %}
