{% extends "suit_dashboard/base.html" %}
{% load staticfiles i18n compress%}
{% load i18n admin_static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}
  {% trans "Service|Add" %}
{% endblock %}
{#{% extends "account/welcome.html" %}#}

{% load i18n %}
{#{% load crispy_forms_tags %}#}
{% load static %}
{% load addcss %}

{% block extrastyle %}
        {% compress css %}
{#            <link href="{% static 'css/screen.css' %}" rel="stylesheet" />#}
            <link href="{% static 'css/naic722/compliance/ComplianceAdd.css' %}" rel="stylesheet">
            <link href="{% static 'css/welcometheme.css' %}" rel="stylesheet">
            <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/jquery-ui1.12.1.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/jquery-ui1.12.1.theme.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/jquery-ui1.12.1.structure.min.css' %}" rel="stylesheet">
        {% endcompress %}
    {% endblock %}

{#    {% block css %}#}
{#    {% compress css %}#}
{#    <link href="{% static 'css/welcometheme.css' %}" rel="stylesheet">#}
{#        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/>#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dropdown.css' %}" media="all">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">#}
{#        <link href="{% static 'css/jquery-ui1.12.1.min.css' %}" rel="stylesheet">#}
{#            <link href="{% static 'css/jquery-ui1.12.1.theme.min.css' %}" rel="stylesheet">#}
{#            <link href="{% static 'css/jquery-ui1.12.1.structure.min.css' %}" rel="stylesheet">#}
{#    <script src="{% static 'suit/js/jquery-1.8.3.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"/>#}
{#        <link href="{% static 'css/popup.css' %}" rel="stylesheet">#}
{#        <link href="{% static 'css/editable-select.css' %}" rel="stylesheet">#}
{#    {% endcompress %}#}
{#    {% endblock %}#}

{% block head_title %}{% trans "Service | New" %}{% endblock %}
{% block inner %}
    {% block content %}
        <form novalidate class="ComplianceForm" autocomplete="off" id="compliance_addnew_form" method="post" action="{% url 'compliance:compliance_addnew' %} ">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
{#            {% crispy example_form %}#}
								<table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
									<tbody>
										<tr>
											<td>
												<!-- Smart Wizard -->
												<div id="wizard" class="swMain">
													<ul class="anchor">
														<li>
															<a class="selected" href="#step-1" isdone="1" style="width:966px; left:0; top:3px;" rel="1">
																<label class=" selected"></label>
																<span class="stepDesc">
																	Add New Service
																</span>
															</a>
														</li>
													</ul>
													<div class="stepContainer" style="height: 70vh;">
														<div id="step-1" class="content" style="height: 70vh; display: block;">
															<div class="form_wapper_m" style="height:68vh;">
																<div class="Div_service">
																	<div class="form_wapper">
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5>
																					<label class=" label_name required control-label">{{ form.complianceservice.label }}
																					</label>
																				</h5>
																			</div>
																			<div class="dropdown">
{#																				{{ form. }}#}
                                                                                {% for field in form %}
                                                                                    {% if field == form.complianceservice %}
                                                                                        {% if field.errors %}
                                                                                            {{ form.complianceservice | add_attributes:"inp_card_info_city_dropdown  has-danger" }}
                                                                                            <span class="oh-alert-error">{% for error in  field.errors %}
                                                                                                {{ error }}<br/>{% endfor %}</span>
                                                                                        {% else %}
                                                                                            {{ field }}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endfor %}
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5 class="required control-label" style="position:relative; left:1px; top:63px;">{{ form.frequency.label }}</h5>
																			</div>
																			<div class="f_inp_bx">
                                                                                {% for field in form %}
                                                                                    {% if field == form.frequency %}
                                                                                        {% if field.errors %}
                                                                                            {{ form.frequency | add_attributes:"inp_card_info_city_dropdown  has-danger" }}
                                                                                            <span class="oh-alert-error">{% for error in  field.errors %}
                                                                                                {{ error }}<br/>{% endfor %}</span>
                                                                                        {% else %}
                                                                                            {{ field }}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endfor %}

																				<span class="apphelp-block">
																					<strong></strong>
																				</span>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5 style="position:relative; left:1px; top:87px;">Last Service Date</h5>
																				<h5 class="required control-label" style="position:relative; left:368px; top:62px;">Next Due date</h5>
																			</div>
																			<div class="f_inp_bx">
																				<div id="id_lastservicedate_pickers" class="input-group date">
                                                                                    {{ form.lastservicedate }}
{#																					<input id="id_lastservicedate" class="form-control" type="text" name="lastservicedate" required style="position:relative; left:134px; top:25px; width:78px;" />#}
{#																					<input id="id_nextservicedate" class="form-control" type="text" name="nextservicedate" required style="position:relative; left:388px; top:25px; width:78px;" />#}
                                                                                    {% for field in form %}
                                                                                    {% if field == form.nextservicedate %}
                                                                                        {% if field.errors %}
                                                                                            {{ form.nextservicedate | add_attributes:"inp_card_info_firstname hasDatepicker form-control has-danger" }}
                                                                                            <span class="oh-alert-error">{% for error in  field.errors %}
                                                                                                {{ error }}<br/>{% endfor %}</span>
                                                                                        {% else %}
                                                                                            {{ field }}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                                    <span class="input-group-addon">
																						<i class="fa fa-calendar" style="position:relative; left:45px; top:31px; height:15px;"></i>
																						<i class="fa fa-calendar" style="position:relative; left:379px; top:31px; width:22px; height:15px;"></i></span>
																				</div>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5 style="position:relative; left:135px; top:34px; width:241px;">Service note</h5>
																			</div>
																			<div class="f_inp_bx">
{#																				<input id="id_servicenote" class="form-control" type="text" name="servicenote"  style="position:relative; left:135px; top:20px; width:440px; height:120px;" />#}
                                                                                {% for field in form %}
                                                                                    {% if field == form.servicenote %}
                                                                                        {% if field.errors %}
                                                                                            {{ form.servicenote | add_attributes:"form-control has-danger" }}
                                                                                            <span class="oh-alert-error">{% for error in  field.errors %}
                                                                                                {{ error }}<br/>{% endfor %}</span>
                                                                                        {% else %}
                                                                                            {{ field }}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                {% endfor %}
																			</div>
																			<div class="clear"></div>
																		</div>
                                                                        <div class="row_step2_left_responsible">
            <div class="label_name">
																				<h5 style="position:relative; left:135px; top:34px; width:241px;">Responsible</h5>
																			</div>
                                                                        <i id="id_schdeduledcalicon" name="id_schdeduledcalicon"
               class="fa fa-users fa-2x oh_scd_servkeeComponent oh_scd_servkeeIcon rotate360 newscd-img-responsible"
               style="color: #080041;position: relative;left: 218px;top: -2px;width: 241px"></i>

{#                                                                            <div id="responsiblelistdiv" name=responsiblelistdiv">#}
                                                                            <select id="responsiblelist" name="responsiblelist"
                    class="oh_scd_servkeeComponent oh_scd_servkeeCombobox newscd-dropdown-responsible" style="position:relative; left:135px; top:3px; width:241px;">
                        {% for responsible in responsiblelist %}
                                <option value="{{ responsible.cprs_id }}" {% ifequal responsible.cprs_id loggeduser_cprs_id %}selected{% endifequal %}>
                                    {{ responsible.prsn_name}}&nbsp;</option>
                        {% endfor %}

            </select>
{#                                                                            </div>#}

        </div>
																	</div>
																	<div class="form_wapper" >
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5 style="text-align: right">Jurisdiction: &nbsp;
																				</h5>
																				<h5 id="jurisdiction" style="position:relative; left:134px; top:-27px; text-align:left;">-</h5>
																				<h5 id="servicedesc" style="height:48px; width:160px; position:relative; left:-179px; top:-32px; text-align:justify;">-</h5>
																				<h5 id="agency" style="position:relative; left:135px; top:-92px; width:233px; text-align:left;">-</h5>
																				<h5 style="position:relative; left:54px; top:-121px; text-align:left;">Agency:</h5>
																			</div>
																			<div class="label_name">
																				<h5 id="labeljurisdiction"></h5>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5></h5>
																			</div>
																			<div class="f_inp_bx">
																				<span class="apphelp-block">
																					<strong></strong>
																				</span>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5></h5>
																			</div>
																			<div class="f_inp_bx">
																				<div id="id_city_div" class="inp_steps_city_div" style="display: none" name="city_div">
																					<input id="id_city" class="inp_steps_City" type="text" name="city" placeholder="Enter city" style="display: inline" /></div>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5></h5>
																			</div>
																			<div class="f_inp_bx">
																				<span class="apphelp-block">
																					<strong></strong>
																				</span>
																			</div>
																			<div class="clear"></div>
																		</div>
																	</div>
																	<div class="form_wapper">
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5 style="position:relative; left:10px; top:3px; width:53px;">Factor :</h5>
																				<h5 id="factor" style="position:relative; left:64px; top:-24px;">-</h5>
																			</div>
																			<div class="f_inp_bx">
																				<input id="id_factorvalue" class="form-control" type="text" name="factorvalue" required style="width:33px; position:relative; left:52px; top:5px;" />
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5></h5>
																			</div>
																			<div class="f_inp_bx">
																				<span class="apphelp-block">
																					<strong></strong>
																				</span>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5></h5>
																			</div>
																			<div class="f_inp_bx">
																				<div id="id_city_div" class="inp_steps_city_div" style="display: none" name="city_div">
																					<input id="id_city" class="inp_steps_City" type="text" name="city" placeholder="Enter city" style="display: inline" /></div>
																			</div>
																			<div class="clear"></div>
																		</div>
																		<div class="row_step2_left">
																			<div class="label_name">
																				<h5></h5>
																			</div>
																			<div class="f_inp_bx">
																				<span class="apphelp-block">
																					<strong></strong>
																				</span>
																			</div>
																			<div class="clear"></div>
																		</div>
																	</div>
																	<div class="clear"></div>
																</div>
																<div class="clear"></div>
															</div>
															<div class="clear"></div>
														</div>
													</div>
													<div class="actionBar">
														<div class="msgBox">
															<div class="content"></div>
															<a class="close" href="#">X</a>
														</div>
														<div class="loader">Loading</div>
{#														<a class="buttonNext"  type="Submit" onmouseover="return ValidateNewService();">Create Service</a>#}
                                                        <button id="registration_submit" class="buttonNext"
                                        type="submit" onmouseover="return ValidateNewService();">{% trans "Create Service" %} &raquo;</button>
														<a class="buttonNext" href="/" style="position:relative; left:-658px; top:2px; width:98px;">Cancel</a>
													</div>
												</div>
												<!-- End SmartWizard Content -->
											</td>
										</tr>
									</tbody>
								</table>

        </form>

    {% endblock %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.1.1.min.js"></script>

    {% compress js %}
{#        <script src="{% static 'js/project.js' %}"></script>#}
{#        <script src="{% static 'js/naic722/compliance/complainceadd.js' %}"></script>#}
        <script src="{% static 'js/jquery-ui1.12.1.js' %}"></script>
        <script src="{% static 'js/moment-2.17.1.min.js' %}"></script>
    {% endcompress %}

<script type="text/javascript" language="javascript">

function addDays(days) {
    if ($("#id_complianceservice option:selected").val() != '') {
        if (document.getElementById('id_lastservicedate').value != '') {
            console.log('Im in');
            console.log(document.getElementById('id_lastservicedate').value);
            var nextduedate = new Date(document.getElementById('id_lastservicedate').value);
            var lastservicedate = new Date(nextduedate.getTime() + (days * 24 * 60 * 60 * 1000));
            return lastservicedate;
        }
        return new Date(new Date().getTime() + (days * 24 * 60 * 60 * 1000));
    }
}


function isDate(txtDate)
{
    var currVal = txtDate;
    if(currVal == '')
        return false;

    var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{2})$/; //Declare Regex
    var dtArray = currVal.match(rxDatePattern); // is format OK?

    if (dtArray == null)
        return false;

    //Checks for mm/dd/yyyy format.
    dtMonth = dtArray[1];
    dtDay= dtArray[3];
    dtYear = dtArray[5];

    if (dtMonth < 1 || dtMonth > 12)
        return false;
    else if (dtDay < 1 || dtDay> 31)
        return false;
    else if ((dtMonth==4 || dtMonth==6 || dtMonth==9 || dtMonth==11) && dtDay ==31)
        return false;
    else if (dtMonth == 2)
    {
        var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
        if (dtDay> 29 || (dtDay ==29 && !isleap))
                return false;
    }
    return true;
}



$('#id_complianceservice').on('change', function() {

    $('#id_complianceservice').removeClass("has-danger");
    $('#id_frequency').removeClass("has-danger");
    $('#id_nextservicedate').removeClass("has-danger");
    console.log($("#id_complianceservice option:selected").val());

{#    console.log($('#jurisdiction').text);#}
if($("#id_complianceservice option:selected").val() != '')
    {
        $('#jurisdiction').text('-');
        $('#servicedesc').text('-');
        $('#agency').text('-');
        $('#factor').text('-');
        $("#id_frequency")[0].selectedIndex = 1;
        document.getElementById('id_lastservicedate').value ='';

        $.ajax({
            url: 'ajax_complianceservice_details',
            data: {
                'complianceserviceselected': $("#id_complianceservice option:selected").val(),
            },
            dataType: 'json',
            success: function (response_data) {
                console.log(response_data.result);
                if (response_data.result == 'success' ) {

                    $("div.f_inp_bx select").val(response_data['frequency']);
                    $('#jurisdiction').text(response_data['jurisdiction']);
                    $('#servicedesc').text(response_data['compliance_desc']);
                    $('#agency').text(response_data['agency']);
                    $('#factor').text(response_data['factor']);
                    $('#responsiblelist').find('option').remove().end();
                    $.each(response_data.responsiblelist, function (key, value) {
                        $('#responsiblelist').append(
                                $("<option></option>")
                                        .attr("value", value[0])
                                        .text(value[1])
                        );
                    });
                    $("#responsiblelist")[0].selectedIndex = response_data['loggeduser_cprs_id'];
                    $("div.row_step2_left_responsible select").val(response_data['loggeduser_cprs_id']);

                    if(response_data['factor']=='-')
                       $('#id_factorvalue').hide();
                    else
                        $('#id_factorvalue').show();
                    console.log('=response_data[lastservicedate];', response_data['lastservicedate']);
                    document.getElementById('id_lastservicedate').value =response_data['lastservicedate'];
                    switch ($("#id_frequency option:selected").val()) {
                case 'DAILY':
                    var tomorrow = addDays(1);
                    tomorrow_dd = ("0" + tomorrow.getDate()).slice(-2);
                    tomorrow_mm = ("0" + (tomorrow.getMonth() + 1)).slice(-2);
                    tomorrow_yy = ("0" + (tomorrow.getYear())).slice(-2);
                    tomorrow = tomorrow_mm + '/' + tomorrow_dd + '/' + tomorrow_yy;
                    document.getElementById('id_nextservicedate').value = tomorrow;
                    break;

                case 'WEEKLY':
                    var nextweek = addDays(7);
                    nextweek_dd = ("0" + nextweek.getDate()).slice(-2);
                    nextweek_mm = ("0" + (nextweek.getMonth() + 1)).slice(-2);
                    nextweek_yy = ("0" + (nextweek.getYear())).slice(-2);
                    nextweek = nextweek_mm + '/' + nextweek_dd + '/' + nextweek_yy;
                    document.getElementById('id_nextservicedate').value = nextweek;
                    break;

                case 'WEEKLY':
                    var nextweek = addDays(7);
                    nextweek_dd = ("0" + nextweek.getDate()).slice(-2);
                    nextweek_mm = ("0" + (nextweek.getMonth() + 1)).slice(-2);
                    nextweek_yy = ("0" + (nextweek.getYear())).slice(-2);
                    nextweek = nextweek_mm + '/' + nextweek_dd + '/' + nextweek_yy;
                    document.getElementById('id_nextservicedate').value = nextweek;
                    break;

                case 'MNTHLY':
                    var nextmonth = addDays(30);
                    nextmonth_dd = ("0" + nextmonth.getDate()).slice(-2);
                    nextmonth_mm = ("0" + (nextmonth.getMonth() + 1)).slice(-2);
                    nextmonth_yy = ("0" + (nextmonth.getYear())).slice(-2);
                    nextmonth = nextmonth_mm + '/' + nextmonth_dd + '/' + nextmonth_yy;
                    document.getElementById('id_nextservicedate').value = nextmonth;
                    break;

                case 'QTLY':
                    var nextquarter = addDays(90);
                    nextquarter_dd = ("0" + nextquarter.getDate()).slice(-2);
                    nextquarter_mm = ("0" + (nextquarter.getMonth() + 1)).slice(-2);
                    nextquarter_yy = ("0" + (nextquarter.getYear())).slice(-2);
                    nextquarter = nextquarter_mm + '/' + nextquarter_dd + '/' + nextquarter_yy;
                    document.getElementById('id_nextservicedate').value = nextquarter;
                    break;

                case 'SEMIAN':
                    var nextsemian = addDays(180);
                    nextsemian_dd = ("0" + nextsemian.getDate()).slice(-2);
                    nextsemian_mm = ("0" + (nextsemian.getMonth() + 1)).slice(-2);
                    nextsemian_yy = ("0" + (nextsemian.getYear())).slice(-2);
                    nextsemian = nextsemian_mm + '/' + nextsemian_dd + '/' + nextsemian_yy;
                    document.getElementById('id_nextservicedate').value = nextsemian;
                    break;

                case 'ANNUAL':
                    var nextannual = addDays(365);
                    nextannual_dd = ("0" + nextannual.getDate()).slice(-2);
                    nextannual_mm = ("0" + (nextannual.getMonth() + 1)).slice(-2);
                    nextannual_yy = ("0" + (nextannual.getYear())).slice(-2);
                    nextannual = nextannual_mm + '/' + nextannual_dd + '/' + nextannual_yy;
                    document.getElementById('id_nextservicedate').value = nextannual;
                    break;

                case 'BIEN':
                    var nextbien = addDays(730);
                    nextbien_dd = ("0" + nextbien.getDate()).slice(-2);
                    nextbien_mm = ("0" + (nextbien.getMonth() + 1)).slice(-2);
                    nextbien_yy = ("0" + (nextbien.getYear())).slice(-2);
                    nextbien = nextbien_mm + '/' + nextbien_dd + '/' + nextbien_yy;
                    document.getElementById('id_nextservicedate').value = nextbien;
                    break;

                case 'ONCE':
                    break;

                case 'CUSTOM':
                    break;

            }}

            }
         });
    }
    else{
        $('#id_complianceservice').addClass("inp_card_info_city_dropdown  has-danger");
         $('#jurisdiction').text('-');
        $('#servicedesc').text('-');
        $('#agency').text('-');
        $('#factor').text('-');
        $("#id_frequency")[0].selectedIndex = 0;
        document.getElementById('id_lastservicedate').value ='';
    }

});

$('#id_frequency').on('change', function() {

    $('#id_frequency').removeClass("has-danger");
    console.log($("#id_frequency option:selected").val());

{#    console.log($('#jurisdiction').text);#}
if($("#id_frequency option:selected").val() != '')
    {
          switch ($("#id_frequency option:selected").val()) {
               case 'DAILY':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({D: 1})).format("MM/DD/YY");
                    break;

                case 'WEEKLY':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({D: 7})).format("MM/DD/YY");
                    break;

                case 'MNTHLY':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({M: 1})).format("MM/DD/YY");
                    break;

                case 'QTLY':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({M: 3})).format("MM/DD/YY");
                    break;

                case 'SEMIAN':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({M: 6})).format("MM/DD/YY");
                    break;

                case 'ANNUAL':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({Y: 1})).format("MM/DD/YY");
                    break;

                case 'BIEN':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({Y: 2})).format("MM/DD/YY");
                    break;

                case 'ONCE':
                    document.getElementById('id_nextservicedate').value= "12/31/99";
                    break;

                case 'CUSTOM':
                    document.getElementById('id_nextservicedate').value= moment().add(moment.duration({Y: 1})).format("MM/DD/YY");
                    break;

            }
    }else{
        if($("#id_complianceservice option:selected").val() != '')
            $('#id_complianceservice').addClass("inp_card_info_city_dropdown  has-danger");

        $('#id_frequency').addClass("inp_card_info_city_dropdown  has-danger");
}

});


function setnextduedate(selectedactiondate){
if($('input:hidden[name=basi_code]').val() != '')
    {
        console.log($('input:hidden[name=basi_code]').val());
          switch ($('input:hidden[name=basi_code]').val()) {
                case 'DAILY':
                    return moment(selectedactiondate).add(moment.duration({D: 1})).format("MM/DD/YY");
                    break;

                case 'WEEKLY':
                    return moment(selectedactiondate).add(moment.duration({D: 7})).format("MM/DD/YY");
                    break;

                case 'MNTHLY':
                    return moment(selectedactiondate).add(moment.duration({M: 1})).format("MM/DD/YY");
                    break;

                case 'QTLY':
                    return moment(selectedactiondate).add(moment.duration({M: 3})).format("MM/DD/YY");
                    break;

                case 'SEMIAN':
                    return moment(selectedactiondate).add(moment.duration({M: 6})).format("MM/DD/YY");
                    break;

                case 'ANNUAL':
                    return moment(selectedactiondate).add(moment.duration({Y: 1})).format("MM/DD/YY");
                    break;

                case 'BIEN':
                    return moment(selectedactiondate).add(moment.duration({Y: 2})).format("MM/DD/YY");
                    break;

                case 'ONCE':
                    return "12/31/99";
                    break;

                case 'CUSTOM':
                    return moment(selectedactiondate).add(moment.duration({Y: 1})).format("MM/DD/YY");
                    break;

            }
    }else{
            return moment(selectedactiondate).add(moment.duration({D: 0})).format("MM/DD/YY");
}

}
   $(document).ready(function () {

{#       $("#id_lastservicedate").datepicker({#}
{#                minDate: 0,#}
{#                showButtonPanel: true,#}
{#                changeMonth: true,#}
{#                changeYear: true,#}
{#                showAnim: "slide",#}
{#                // The hidden field to receive the date#}
{#                altField: "#id_lastservicedate" ,#}
{#                // The format you want#}
{#                altFormat: "mm/dd/y",#}
{#                // The format the user actually sees#}
{#                dateFormat: "mm/dd/y",#}
{#                onSelect: function (date) {#}
{##}
{#                    // Your CSS changes, just in case you still need them#}
{#                    $('a.ui-state-default').removeClass('ui-state-highlight');#}
{#                    $(this).addClass('ui-state-highlight');#}
{#                }#}
{#            });#}

            $("#id_nextservicedate").datepicker({
                minDate: 0,
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showAnim: "slide",
                // The hidden field to receive the date
                altField: "#id_nextservicedate" ,
                // The format you want
                altFormat: "mm/dd/y",
                // The format the user actually sees
                dateFormat: "mm/dd/y",
                onSelect: function (date) {

                    // Your CSS changes, just in case you still need them
                    $('a.ui-state-default').removeClass('ui-state-highlight');
                    $(this).addClass('ui-state-highlight');
                }
            });

            // Smart Wizard
{#            $('#wizard').smartWizard({#}
{#                // Properties#}
{#                selected: 0,  // Selected Step, 0 = first step#}
{#                keyNavigation: true, // Enable/Disable key navigation(left and right keys are used if enabled)#}
{#                enableAllSteps: false,  // Enable/Disable all steps on first load#}
{#                transitionEffect: 'fade', // Effect on navigation, none/fade/slide/slideleft#}
{#                contentURL: null, // specifying content url enables ajax content loading#}
{#                contentURLData: null, // override ajax query parameters#}
{#                contentCache: true, // cache step contents, if false content is fetched always from ajax url#}
{#                cycleSteps: true, // cycle step navigation#}
{#                enableFinishButton: false, // makes finish button enabled always#}
{#                hideButtonsOnDisabled: true, // when the previous/next/finish buttons are disabled, hide them instead#}
{#                errorSteps: [],    // array of step numbers to highlighting as error steps#}
{#                labelNext: 'Create Service', // label for Next button#}
{#                labelPrevious: 'Previous', // label for Previous button#}
{#                labelFinish: 'Save Sevice Action',  // label for Finish button#}
{#                noForwardJumping: true,#}
{#                ajaxType: 'POST',#}
{#                // Events#}
{#                onLeaveStep: null, // triggers when leaving a step#}
{#                onShowStep: null,  // triggers when showing a step#}
{#                onFinish: onFinishValidation(),  // triggers when Finish button is clicked#}
{#                includeFinishButton: true,   // Add the finish button#}
{#                reverseButtonsOrder: false //shows buttons ordered as: prev, next and finish#}
{#            });#}

            $("#id_zipcode").keyup();
        });
    function onFinishValidation() {
            console.log('onFinishValidation');
{#            if ($('#id_naicslevel5opt option:selected').val() != null && $('#id_naicslevel5opt option:selected').val() != 'None' && $('#id_naicslevel5opt option:selected').val() != '0000000'#}
{#                    && $('#id_naicslevel5opt option:selected').val() != ' ') {#}
{#                console.log($('#id_naicslevel5opt option:selected').val());#}
{#                document.getElementById('step1_company_naics_description').innerHTML = "NAICS Classification : " + $('#id_naicslevel5opt option:selected').val();#}
{#            } else {#}
{#                document.getElementById('step1_company_naics_description').innerHTML = ""#}
{#            }#}

        }

function ValidateNewService() {
            var service_is_valid = true;
            console.log("ValidateNewService :");

            if($("#id_complianceservice option:selected").val() == '')
            {
                $('#id_complianceservice').addClass("inp_card_info_city_dropdown  has-danger");
                service_is_valid =false;
            }
            else{
                $('#id_complianceservice').removeClass("has-danger");
            }
            if($("#id_frequency option:selected").val() == '')
            {

                $('#id_frequency').addClass("inp_card_info_city_dropdown  has-danger");
                service_is_valid =false;
            }
            else{
                $('#id_frequency').removeClass("has-danger");
            }
            console.log(document.getElementById('id_nextservicedate').value);
            if(document.getElementById('id_nextservicedate').value == '')
            {
                    $('#id_nextservicedate').addClass("form-control hasDatepicker  has-danger");
                    service_is_valid =false;

            }
            else{

                 if(isDate(document.getElementById('id_nextservicedate').value) == false)
                {
                    $('#id_nextservicedate').addClass("form-control hasDatepicker  has-danger");
                    service_is_valid =false;
                }
                $('#id_nextservicedate').removeClass("has-danger");
            }
{#            console.log(document.getElementById('id_compname').value);#}
{#            if (document.getElementById('id_compname').value == '') {#}
{#                console.log('setting css for id_compname');#}
{#                $('#id_compname').addClass("inp_steps_compname  has-danger");#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                $('#id_compname').removeClass("has-danger");#}
{#            }#}
{##}
{#            console.log($('#id_naicslevel5opt option:selected').length);#}
{#            console.log('Val & Lenght ->' + $('#id_naicslevel5opt option:selected').val(), $('#id_naicslevel5opt option:selected').length);#}
{#            if ($('#id_naicslevel5opt option:selected').val() != '' && $('#id_naicslevel5opt option:selected').val() != 'None') {#}
{#                if ($('#id_naicslevel5opt option:selected').length != 0)#}
{#                    $('#id_naicslevel5opt').removeClass("has-danger step1_company_naics_dropdown_required");#}
{#                else#}
{#                    $('#id_naicslevel5opt').addClass("step1_company_naics_dropdown  has-danger step1_company_naics_dropdown_required");#}
{#                signup_is_valid = false;#}
{#            }#}
{#            else {#}
{#                $('#id_naicslevel5opt').addClass("step1_company_naics_dropdown  has-danger step1_company_naics_dropdown_required");#}
{#                signup_is_valid = false;#}
{#            }#}
{##}
{#            var is_languageslected = false;#}
{#            var checkedonhandlang = document.getElementsByName("languagechecklist");#}
{#            var checkedlanguages = 0;#}
{#            for (var i = 0; i < checkedonhandlang.length; i++) {#}
{#                if (checkedonhandlang[i].checked) {#}
{#                    checkedlanguages = i;#}
{#                    is_languageslected = true;#}
{#                }#}
{#            }#}
{#            if (is_languageslected == false) {#}
{#                for (var i = 0; i < checkedonhandlang.length; i++) {#}
{#                    checkedonhandlang[i].style = "box-shadow: 0px 0px 7px 4px rgba(230,9,52,1)";#}
                    {#            checkedonhandlang[i].addClass("has-danger")#}
{#                }#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                for (var i = 0; i < checkedonhandlang.length; i++) {#}
{#                    checkedonhandlang[i].style = "";#}
{#                }#}
{#            }#}
{##}
{#            var is_personlanguageslected = false;#}
{#            var checkedonhandpersonlang = document.getElementsByName("personlanguagechecklist");#}
{#            var checkedpersonlanguages = 0;#}
{#            for (var i = 0; i < checkedonhandpersonlang.length; i++) {#}
{#                if (checkedonhandpersonlang[i].checked) {#}
{#                    checkedpersonlanguages = i;#}
{#                    is_personlanguageslected = true;#}
{#                }#}
{#            }#}
{#            if (is_personlanguageslected == false) {#}
{#                for (var i = 0; i < checkedonhandpersonlang.length; i++) {#}
{#                    console.log(checkedonhandpersonlang[i].checked);#}
{#                    checkedonhandpersonlang[i].style = "box-shadow: 0px 0px 7px 4px rgba(230,9,52,1)";#}
                    {#            checkedonhandpersonlang[i].addClass("has-danger")#}
{#                }#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                for (var i = 0; i < checkedonhandpersonlang.length; i++) {#}
{#                    checkedonhandpersonlang[i].style = "";#}
{#                }#}
{#            }#}
{##}
{#            var personroleslected = false;#}
{#            var personroleradio = document.getElementsByName("ohplanselect");#}
{#            var personroleradioindex = 0;#}
{#            for (var i = 0; i < personroleradio.length; i++) {#}
{#                if (personroleradio[i].checked) {#}
{#                    personroleradioindex = i;#}
{#                    personroleslected = true;#}
{#                }#}
{#            }#}
{##}
{#            if (personroleslected == false) {#}
{#                for (var i = 0; i < personroleradio.length; i++) {#}
{#                    personroleradio[i].style = "box-shadow: 0px 0px 7px 4px rgba(230,9,52,1)";#}
{#                }#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                for (var i = 0; i < personroleradio.length; i++) {#}
{#                    personroleradio[i].style = "";#}
{#                }#}
{#            }#}
{##}
{##}
{#            if (document.getElementById('id_username').value == '') {#}
{#                $('#id_username').addClass("inp_steps_username  has-danger");#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                $('#id_username').removeClass("has-danger");#}
{#            }#}
{##}
{#            if (document.getElementById('id_password1').value == '') {#}
{#                $('#id_password1').addClass("inp_steps_password  has-danger");#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                $('#id_password1').removeClass("has-danger");#}
{#            }#}
{##}
{#            if (document.getElementById('id_password2').value == '') {#}
{#                $('#id_password2').addClass("inp_steps_password  has-danger");#}
{#                signup_is_valid = false;#}
{#            } else {#}
{#                $('#id_password2').removeClass("has-danger");#}
{#            }#}
{##}
{##}
{#            console.log(signup_is_valid);#}
            return service_is_valid;
        }

{#$( function() {#}
{#    $( "#servicetabs" ).tabs();#}
{#  } );#}
</script>
{% endblock %}

